.carta {
  border: 2px solid rgb(102, 102, 102);
  width: 340px;
  height: 340px;
  margin: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;
  box-shadow: 5px 5px 5px 5px gray;
}

.circulo {
  border-radius: 90px;
  width: 50px;
}

.fondo{
    background-image: url(../img/vector.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}